<h1>Users#index</h1>

<h2>User Login</h2>


<form action="/users/show" method="post">

	Email:<input type="text" name="email" placeholder="email"><br>

	Password:<input type="text" name="password" placeholder = "password"><br>
	<input type="submit">

</form>
